werk_zeit_desktop/Service References/ServiceReference1/index.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:dajana" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:dajana" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:dajana">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="stringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TableDataWorkingTimes">
        <xsd:all>
          <xsd:element name="idArbeitszeit" type="xsd:int" />
          <xsd:element name="Datum" type="xsd:date" />
          <xsd:element name="Anfang" type="xsd:time" />
          <xsd:element name="Ende" type="xsd:time" />
          <xsd:element name="Projekt" type="xsd:string" />
          <xsd:element name="Aktivitaet" type="xsd:string" />
          <xsd:element name="DauerArbeitszeit" type="xsd:int" />
          <xsd:element name="Ueberstunden" type="xsd:int" />
          <xsd:element name="PauseAnfang" type="xsd:time" />
          <xsd:element name="PauseEnde" type="xsd:time" />
          <xsd:element name="DauerPause" type="xsd:int" />
          <xsd:element name="GesamtDauerArbeitszeit" type="xsd:int" />
          <xsd:element name="Status" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TableArrayWorkingTimes">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TableDataWorkingTimes[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TableDataCustomers">
        <xsd:all>
          <xsd:element name="KundenNr" type="xsd:int" />
          <xsd:element name="Nachname" type="xsd:string" />
          <xsd:element name="Vorname" type="xsd:string" />
          <xsd:element name="Anschrift" type="xsd:string" />
          <xsd:element name="Firmenname" type="xsd:string" />
          <xsd:element name="TelNrMobil" type="xsd:string" />
          <xsd:element name="TelNrFestnetz" type="xsd:string" />
          <xsd:element name="EMail" type="xsd:string" />
          <xsd:element name="Status" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TableArrayCustomers">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TableDataCustomers[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TableDataEmployees">
        <xsd:all>
          <xsd:element name="PersNr" type="xsd:int" />
          <xsd:element name="Nachname" type="xsd:string" />
          <xsd:element name="Vorname" type="xsd:string" />
          <xsd:element name="Anschrift" type="xsd:string" />
          <xsd:element name="GebTag" type="xsd:date" />
          <xsd:element name="EMail" type="xsd:string" />
          <xsd:element name="TelNrMobil" type="xsd:string" />
          <xsd:element name="TelNrFestnetz" type="xsd:string" />
          <xsd:element name="Abteilung" type="xsd:string" />
          <xsd:element name="Regelarbeitszeit" type="xsd:time" />
          <xsd:element name="Status" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TableArrayEmployees">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TableDataEmployees[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TableDataProjects">
        <xsd:all>
          <xsd:element name="idProjekt" type="xsd:int" />
          <xsd:element name="Projektname" type="xsd:string" />
          <xsd:element name="Projektbeschreibung" type="xsd:string" />
          <xsd:element name="customer_KundenNr" type="xsd:int" />
          <xsd:element name="Status" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TableArrayProjects">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TableDataProjects[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TableDataActivities">
        <xsd:all>
          <xsd:element name="idAktivitaeten" type="xsd:int" />
          <xsd:element name="Aktivitaetenname" type="xsd:string" />
          <xsd:element name="Aktivitaetenbeschreibung" type="xsd:string" />
          <xsd:element name="Status" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TableArrayActivities">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TableDataActivities[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkLoginRequest">
    <wsdl:part name="persnr" type="xsd:string" />
    <wsdl:part name="pin" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="checkLoginResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="createprojectRequest">
    <wsdl:part name="projektname" type="xsd:string" />
    <wsdl:part name="projektbeschreibung" type="xsd:string" />
    <wsdl:part name="status" type="xsd:int" />
    <wsdl:part name="kundennr" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createprojectResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createactivityRequest">
    <wsdl:part name="Aktivitaetenname" type="xsd:string" />
    <wsdl:part name="Aktivitaetenbeschreibung" type="xsd:string" />
    <wsdl:part name="Status" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createactivityResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="selectedcustomerRequest">
    <wsdl:part name="Firmenname" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="selectedcustomerResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createcustomerRequest">
    <wsdl:part name="KundenNr" type="xsd:int" />
    <wsdl:part name="Nachname" type="xsd:string" />
    <wsdl:part name="Vorname" type="xsd:string" />
    <wsdl:part name="Firmenname" type="xsd:string" />
    <wsdl:part name="Anschrift" type="xsd:string" />
    <wsdl:part name="TelNrMobil" type="xsd:string" />
    <wsdl:part name="TelNrFestnetz" type="xsd:string" />
    <wsdl:part name="EMail" type="xsd:string" />
    <wsdl:part name="Status" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createcustomerResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="createemployeeRequest">
    <wsdl:part name="MitarbeiterNr" type="xsd:int" />
    <wsdl:part name="Nachname" type="xsd:string" />
    <wsdl:part name="Vorname" type="xsd:string" />
    <wsdl:part name="GebTag" type="xsd:string" />
    <wsdl:part name="Abteilung" type="xsd:string" />
    <wsdl:part name="TelNrMobil" type="xsd:string" />
    <wsdl:part name="TelNrFestnetz" type="xsd:string" />
    <wsdl:part name="EMail" type="xsd:string" />
    <wsdl:part name="Berechtigungsstufe" type="xsd:int" />
    <wsdl:part name="PIN" type="xsd:int" />
    <wsdl:part name="Status" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="createemployeeResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="startWorkRequest">
    <wsdl:part name="project" type="xsd:string" />
    <wsdl:part name="activity" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="startWorkResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="stopWorkRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="stopWorkResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="pauseWorkRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="pauseWorkResponse" />
  <wsdl:message name="stopPauseWorkRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="stopPauseWorkResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="loadprojectsRequest" />
  <wsdl:message name="loadprojectsResponse">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:message name="loadcustomersRequest" />
  <wsdl:message name="loadcustomersResponse">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:message name="loadactivitiesRequest" />
  <wsdl:message name="loadactivitiesResponse">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:message name="loadauthorisationsRequest" />
  <wsdl:message name="loadauthorisationsResponse">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:message name="loademployeesRequest" />
  <wsdl:message name="loademployeesResponse">
    <wsdl:part name="return" type="tns:stringArray" />
  </wsdl:message>
  <wsdl:message name="archiveWorkingTimeRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="archiveWorkingTimeResponse" />
  <wsdl:message name="archiveProjectsRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="archiveProjectsResponse" />
  <wsdl:message name="archiveActivitiesRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="archiveActivitiesResponse" />
  <wsdl:message name="archiveCustomersRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="archiveCustomersResponse" />
  <wsdl:message name="archiveEmployeesRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="archiveEmployeesResponse" />
  <wsdl:message name="restoreWorkingTimeRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="restoreWorkingTimeResponse" />
  <wsdl:message name="restoreProjectsRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="restoreProjectsResponse" />
  <wsdl:message name="restoreActivitiesRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="restoreActivitiesResponse" />
  <wsdl:message name="restoreCustomersRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="restoreCustomersResponse" />
  <wsdl:message name="restoreEmployeesRequest">
    <wsdl:part name="id" type="xsd:intger" />
  </wsdl:message>
  <wsdl:message name="restoreEmployeesResponse" />
  <wsdl:message name="loadtableworkingtimesRequest" />
  <wsdl:message name="loadtableworkingtimesResponse">
    <wsdl:part name="return" type="tns:TableArrayWorkingTimes" />
  </wsdl:message>
  <wsdl:message name="loadArchivTableWorkingTimesRequest" />
  <wsdl:message name="loadArchivTableWorkingTimesResponse">
    <wsdl:part name="return" type="tns:TableArrayWorkingTimes" />
  </wsdl:message>
  <wsdl:message name="loadtablecustomersRequest" />
  <wsdl:message name="loadtablecustomersResponse">
    <wsdl:part name="return" type="tns:TableArrayCustomers" />
  </wsdl:message>
  <wsdl:message name="loadarchivtablecustomersRequest" />
  <wsdl:message name="loadarchivtablecustomersResponse">
    <wsdl:part name="return" type="tns:TableArrayCustomers" />
  </wsdl:message>
  <wsdl:message name="loadtableemployeesRequest" />
  <wsdl:message name="loadtableemployeesResponse">
    <wsdl:part name="return" type="tns:TableArrayEmployees" />
  </wsdl:message>
  <wsdl:message name="loadarchivtableemployeesRequest" />
  <wsdl:message name="loadarchivtableemployeesResponse">
    <wsdl:part name="return" type="tns:TableArrayEmployees" />
  </wsdl:message>
  <wsdl:message name="loadtableprojectsRequest" />
  <wsdl:message name="loadtableprojectsResponse">
    <wsdl:part name="return" type="tns:TableArrayProjects" />
  </wsdl:message>
  <wsdl:message name="loadarchivtableprojectsRequest" />
  <wsdl:message name="loadarchivtableprojectsResponse">
    <wsdl:part name="return" type="tns:TableArrayProjects" />
  </wsdl:message>
  <wsdl:message name="loadtableactivitiesRequest" />
  <wsdl:message name="loadtableactivitiesResponse">
    <wsdl:part name="return" type="tns:TableArrayActivities" />
  </wsdl:message>
  <wsdl:message name="loadarchivtableactivitiesRequest" />
  <wsdl:message name="loadarchivtableactivitiesResponse">
    <wsdl:part name="return" type="tns:TableArrayActivities" />
  </wsdl:message>
  <wsdl:portType name="zeiterfassungPortType">
    <wsdl:operation name="checkLogin">
      <wsdl:input message="tns:checkLoginRequest" />
      <wsdl:output message="tns:checkLoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="createproject">
      <wsdl:input message="tns:createprojectRequest" />
      <wsdl:output message="tns:createprojectResponse" />
    </wsdl:operation>
    <wsdl:operation name="createactivity">
      <wsdl:input message="tns:createactivityRequest" />
      <wsdl:output message="tns:createactivityResponse" />
    </wsdl:operation>
    <wsdl:operation name="selectedcustomer">
      <wsdl:input message="tns:selectedcustomerRequest" />
      <wsdl:output message="tns:selectedcustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="createcustomer">
      <wsdl:input message="tns:createcustomerRequest" />
      <wsdl:output message="tns:createcustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="createemployee">
      <wsdl:input message="tns:createemployeeRequest" />
      <wsdl:output message="tns:createemployeeResponse" />
    </wsdl:operation>
    <wsdl:operation name="startWork">
      <wsdl:input message="tns:startWorkRequest" />
      <wsdl:output message="tns:startWorkResponse" />
    </wsdl:operation>
    <wsdl:operation name="stopWork">
      <wsdl:input message="tns:stopWorkRequest" />
      <wsdl:output message="tns:stopWorkResponse" />
    </wsdl:operation>
    <wsdl:operation name="pauseWork">
      <wsdl:input message="tns:pauseWorkRequest" />
      <wsdl:output message="tns:pauseWorkResponse" />
    </wsdl:operation>
    <wsdl:operation name="stopPauseWork">
      <wsdl:input message="tns:stopPauseWorkRequest" />
      <wsdl:output message="tns:stopPauseWorkResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadprojects">
      <documentation>Return names of Projects</documentation>
      <wsdl:input message="tns:loadprojectsRequest" />
      <wsdl:output message="tns:loadprojectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadcustomers">
      <documentation>Return names of Customers</documentation>
      <wsdl:input message="tns:loadcustomersRequest" />
      <wsdl:output message="tns:loadcustomersResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadactivities">
      <documentation>Return names of Activities</documentation>
      <wsdl:input message="tns:loadactivitiesRequest" />
      <wsdl:output message="tns:loadactivitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadauthorisations">
      <documentation>Return list of Authorisations</documentation>
      <wsdl:input message="tns:loadauthorisationsRequest" />
      <wsdl:output message="tns:loadauthorisationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="loademployees">
      <documentation>Return list of Employees</documentation>
      <wsdl:input message="tns:loademployeesRequest" />
      <wsdl:output message="tns:loademployeesResponse" />
    </wsdl:operation>
    <wsdl:operation name="archiveWorkingTime">
      <wsdl:input message="tns:archiveWorkingTimeRequest" />
      <wsdl:output message="tns:archiveWorkingTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="archiveProjects">
      <wsdl:input message="tns:archiveProjectsRequest" />
      <wsdl:output message="tns:archiveProjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="archiveActivities">
      <wsdl:input message="tns:archiveActivitiesRequest" />
      <wsdl:output message="tns:archiveActivitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="archiveCustomers">
      <wsdl:input message="tns:archiveCustomersRequest" />
      <wsdl:output message="tns:archiveCustomersResponse" />
    </wsdl:operation>
    <wsdl:operation name="archiveEmployees">
      <wsdl:input message="tns:archiveEmployeesRequest" />
      <wsdl:output message="tns:archiveEmployeesResponse" />
    </wsdl:operation>
    <wsdl:operation name="restoreWorkingTime">
      <wsdl:input message="tns:restoreWorkingTimeRequest" />
      <wsdl:output message="tns:restoreWorkingTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="restoreProjects">
      <wsdl:input message="tns:restoreProjectsRequest" />
      <wsdl:output message="tns:restoreProjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="restoreActivities">
      <wsdl:input message="tns:restoreActivitiesRequest" />
      <wsdl:output message="tns:restoreActivitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="restoreCustomers">
      <wsdl:input message="tns:restoreCustomersRequest" />
      <wsdl:output message="tns:restoreCustomersResponse" />
    </wsdl:operation>
    <wsdl:operation name="restoreEmployees">
      <wsdl:input message="tns:restoreEmployeesRequest" />
      <wsdl:output message="tns:restoreEmployeesResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadtableworkingtimes">
      <documentation>Get all the data from Table: WORKING_TIME WHERE Status=1.</documentation>
      <wsdl:input message="tns:loadtableworkingtimesRequest" />
      <wsdl:output message="tns:loadtableworkingtimesResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadArchivTableWorkingTimes">
      <documentation>Get all the archiv data from Table: WORKING_TIME WHERE Status=0.</documentation>
      <wsdl:input message="tns:loadArchivTableWorkingTimesRequest" />
      <wsdl:output message="tns:loadArchivTableWorkingTimesResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadtablecustomers">
      <documentation>Get all the data from Table: CUSTOMERS WHERE Status=1.</documentation>
      <wsdl:input message="tns:loadtablecustomersRequest" />
      <wsdl:output message="tns:loadtablecustomersResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadarchivtablecustomers">
      <documentation>Get all the data from Table: CUSTOMERS WHERE Status=0.</documentation>
      <wsdl:input message="tns:loadarchivtablecustomersRequest" />
      <wsdl:output message="tns:loadarchivtablecustomersResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadtableemployees">
      <documentation>Get all the data from Table: EMPLOYEES WHERE Status=1.</documentation>
      <wsdl:input message="tns:loadtableemployeesRequest" />
      <wsdl:output message="tns:loadtableemployeesResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadarchivtableemployees">
      <documentation>Get all the data from Table: EMPLOYEES WHERE Status=0.</documentation>
      <wsdl:input message="tns:loadarchivtableemployeesRequest" />
      <wsdl:output message="tns:loadarchivtableemployeesResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadtableprojects">
      <documentation>Get all the data from Table: PROJECTS WHERE Status=1.</documentation>
      <wsdl:input message="tns:loadtableprojectsRequest" />
      <wsdl:output message="tns:loadtableprojectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadarchivtableprojects">
      <documentation>Get all the data from Table: PROJECTS WHERE Status=0.</documentation>
      <wsdl:input message="tns:loadarchivtableprojectsRequest" />
      <wsdl:output message="tns:loadarchivtableprojectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadtableactivities">
      <documentation>Get all the data from Table: ACTIVITIES WHERE Status=1.</documentation>
      <wsdl:input message="tns:loadtableactivitiesRequest" />
      <wsdl:output message="tns:loadtableactivitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="loadarchivtableactivities">
      <documentation>Get all the data from Table: ACTIVITIES WHERE Status=0.</documentation>
      <wsdl:input message="tns:loadarchivtableactivitiesRequest" />
      <wsdl:output message="tns:loadarchivtableactivitiesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="zeiterfassungBinding" type="tns:zeiterfassungPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="checkLogin">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/checkLogin" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createproject">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/createproject" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createactivity">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/createactivity" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectedcustomer">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/selectedcustomer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createcustomer">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/createcustomer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createemployee">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/createemployee" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startWork">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/startWork" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopWork">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/stopWork" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pauseWork">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/pauseWork" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopPauseWork">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/stopPauseWork" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadprojects">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadcustomers">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadactivities">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadauthorisations">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loademployees">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="archiveWorkingTime">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/archiveWorkingTime" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="archiveProjects">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/archiveProjects" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="archiveActivities">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/archiveActivities" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="archiveCustomers">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/archiveCustomers" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="archiveEmployees">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/archiveEmployees" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restoreWorkingTime">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/restoreWorkingTime" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restoreProjects">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/restoreProjects" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restoreActivities">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/restoreActivities" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restoreCustomers">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/restoreCustomers" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restoreEmployees">
      <soap:operation soapAction="http://193.196.143.148/soap/index.php/restoreEmployees" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadtableworkingtimes">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadArchivTableWorkingTimes">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadtablecustomers">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadarchivtablecustomers">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadtableemployees">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadarchivtableemployees">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadtableprojects">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadarchivtableprojects">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadtableactivities">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadarchivtableactivities">
      <soap:operation soapAction="rpc" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:dajana" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="zeiterfassung">
    <wsdl:port name="zeiterfassungPort" binding="tns:zeiterfassungBinding">
      <soap:address location="http://193.196.143.148/soap/index.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>